{% extends 'lk/base.html' %}
{% load static %}

{% block content %}
{% now "Y.m.d" as today %}
<!-- Main Section -->
<section class="main">
	<div class="container">
		<form action="{% url 'user_update' personal.slug %}" class="register" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="card-user">
				<div class="left-block">

					<div class="card-user__section">
						<div class="personal-block">
							<div class="personal-block__photo">
								<img src="{{personal.foto.url}}" alt="Фото сотрудника" id="personal-foto-img">
								<span class="personal-foto-span">Фото сотрудника<small>размер 300x300</small></span>

								<div class="change-person-img">
									<div class="add-image">
										<input type="file" name="foto" id="personal-foto" value="{{personal.foto.url}}">
										<label for="personal-foto" class="text-btn">
											Загрузить
										</label>
									</div>
									<div class="clear-image">
										<span class="text-btn">Удалить</span>
									</div>
								</div>


							</div>

							<div class="personal-block__info block-info">
								<div class="info-item">Фамилия
									<input class="item-input" type="text" name="name_1" value="{{personal.name_1}}">
								</div>
								<div class="info-item">Имя:
									<input class="item-input" type="text" name="name_2" value="{{personal.name_2}}">
								</div>
								<div class="info-item">Отчество:
									<input class="item-input" type="text" name="name_3" value="{{personal.name_3}}">
								</div>
								<div class="info-item">Табельный номер:
									<input class="item-input" type="text" name="tabnumber"
										value="{{ personal.tabnumber }}">
								</div>
								<div class="info-item">Дата рождения:
									<input class="item-input" name="bithday"
										value="{{ personal.bithday|date:'d.m.Y' }}">
								</div>

								<div class="info-item">Профессия
									<select class="item-input" name="professiya">
										<option value="{{ personal.professiya.id }}">{{ personal.professiya }}</option>
										{% for professiya in view.get_professiya %}
											<option value="{{ professiya.id }}">{{ professiya.prof }}</option>
										{% endfor %}
									</select>
								</div>
								<!--								<div class="info-item">Смежная профессия:-->
								<!--									<span>-&#45;&#45;</span>-->
								<!--								</div>-->
								<div class="info-item">Разряд:
									<input class="item-input" type="number" name="lvl" value="{{ personal.lvl }}">

								</div>
								<div class="info-item">Участок
									<select class="item-input" name="uch_avr">
										<option value="{{ personal.uch_avr.id }}">{{ personal.uch_avr }}</option>
										{% for uchavr in view.get_uchavrs %}
											<option value="{{ uchavr.id }}">{{ uchavr.uchavr }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="info-item">Отделение:
									<select class="item-input" name="otdeleniye">
										<option value="{{ personal.otdeleniye.id }}">{{ personal.otdeleniye }}</option>
										{% for otdel in view.get_otdels %}
											<option value="{{ otdel.id }}">{{ otdel.otdel }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="info-item">Подразделение:
									<select class="item-input" name="gruppa">
										<option value="{{ personal.gruppa.id }}">{{ personal.gruppa }}</option>
										{% for gruppa in view.get_groups %}
											<option value="{{ gruppa.id }}">{{ gruppa.group }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="info-item">Дата трудоустройства:
									<input class="item-input" name="ustroen"
										value="{{ personal.ustroen|date:'d.m.Y' }}">
								</div>
							</div>

							<!-- Рейтинг -->

							<!-- <div class="personal-block__reiting">
								<h3 class="title">Персональная оценка работника</h3>
								<div class="reiting-wrap">
									<div class="reiting-wrap__progress"></div>
									<span>7.0</span>
								</div>
							</div> -->
						</div>
					</div>
				</div>

				<div class="right-block">

					<div class="card-user__section card-user__section--shadow">
						<h4 class="title-block">ОТ и ПБ</h4>
						<div class="block-info">
							<div class="info-item">Проверка знаний по ОТ:
								<input class="item-input item-input_small" name="examen_ot"
										value="{{ personal.examen_ot|date:'d.m.Y' }}">
							</div>
							<!--							<div class="info-item">Сл.проверка знаний по ОТ:-->
							<!--								<span>26.08.2023</span>-->
							<!--							</div>-->
							<div class="info-item">Проверка знаний по ЭБ:
								<input class="item-input item-input_small" type="text" name="examen_eb" value="{{ personal.examen_eb|date:'d.m.Y' }}">
							</div>
							<!--							<div class="info-item">Сл.проверка знаний по ЭБ:-->
							<!--								<span>26.08.2023</span>-->
							<!--							</div>-->
							<div class="info-item">Проверка знаний по ПДД:
								<input class="item-input item-input_small"  name="examen_pdd" value="{{ personal.pdd|date:'d.m.Y' }}">
							</div>
							<div class="info-item">ПТМ:
								<input class="item-input item-input_small"  name="examen_ptm"
									value="{{ personal.examen_ptm|date:'d.m.Y' }}">
							</div>
							<div class="info-item">ПДД:
								<input class="item-input item-input_small"  name="examen_pdd"
									value="{{ personal.examen_pdd|date:'d.m.Y' }}">
							</div>
							<div class="info-item">Повторный инструктаж:
								<input class="item-input item-input_small"  name="instructaj"
									value="{{ personal.instructaj|date:'d.m.Y' }}">
							</div>
						</div>
					</div>

					<div class="card-user__section card-user__section--shadow">
						<h4 class="title-block">Мед. раздел</h4>
						<div class="block-info">
							<div class="info-item">Дата прохождения мед.осмотра:
								<input class="item-input item-input_small"  name="med_osmotr"
									value="{{ personal.med_osmotr|date:'d.m.Y' }}">
							</div>
							<div class="info-item">Флюорография:
								<input class="item-input item-input_small"  name="flura" value="{{ personal.flura|date:'d.m.Y' }}">
							</div>
<!--							<div class="info-item">Хронические заболевания:-->
<!--								&lt;!&ndash;Не работает&ndash;&gt;-->
<!--								<label class="checkbox">-->
<!--									<span class="checkbox__label"></span>-->
<!--									-->
<!--											<input type="checkbox" checked name="ssz" class="checkbox__input">-->
<!--											<span class="checkbox__box"></span>-->
<!--										-->
<!--											<input type="checkbox" name="ssz" class="checkbox__input">-->
<!--											<span class="checkbox__box"></span>-->
<!--									-->
<!--								</label>-->
<!--							</div>-->
						</div>
					</div>

					<div class="card-user__section card-user__section--shadow">
						<h4 class="title-block">Отпуск</h4>
						<div class="block-info">
							<div class="info-item">Осн. отпуск:
								<div class="input-wrap">
									<input class="item-input item-input_small" name="otpusk_start" value="{{ personal.otpusk_start|date:'d.m.Y' }}">-
									<input class="item-input item-input_small" name="otpusk_end" value="{{ personal.otpusk_end|date:'d.m.Y' }}">
								</div>

							</div>
							<div class="info-item">Доп. отпуск:
								<div class="input-wrap">
									<input class="item-input item-input_small" name="otpusk_d1_start" value="{{ personal.otpusk_d1_start|date:'d.m.Y' }}">-
									<input class="item-input item-input_small" name="otpusk_d1_end" value="{{ personal.otpusk_d1_end|date:'d.m.Y' }}">
								</div>

							</div>
							<div class="info-item">Доп. отпуск:
								<div class="input-wrap">
									<input class="item-input item-input_small" name="otpusk_d2_start" value="{{ personal.otpusk_d2_start|date:'d.m.Y' }}">-
									<input class="item-input item-input_small" name="otpusk_d2_end" value="{{ personal.otpusk_d2_end|date:'d.m.Y' }}">
								</div>

							</div>

						</div>
					</div>
					<div class="btn-block">
						<button class="btn" type="submit">Сохранить изменения</button>
					</div>
				</div>



			</div>
		</form>
	</div>

</section>
<!-- /.main -->
{% endblock content %}